@import "tailwindcss";

@theme {
  --font-primary: "Open Sans", "serif";
  --font-secondary: "Montserrat", "serif";

  --color-primary: oklch(33.2% 0.0438 192.95);
  --color-secondary: oklch(93.17% 0.0215 136.6);
  --color-text-secondary: oklch(48.21% 0.0109 150.51);
  --color-accent-1: oklch(53.09% 0.1112 146.93);
  --color-accent-2: oklch(76.83% 0.0824 135.22);
  --color-accent-3: oklch(97.99% 0.0076 48.66);
}
